[Unit]
Description=Pigpio daemon

[Service]
Type=simple
PIDFile=pigpio.pid
ExecStart=/usr/local/bin/pigpiod -g -s 1

[Install]
WantedBy=multi-user.target