[Unit]
Description=Pigpio daemon

[Service]
Type=simple
PIDFile=/var/run/pigpio.pid
ExecStart=/usr/local/bin/pigpiod -g -s 1
ExecStop=/bin/sh -c 'rm /var/run/pigpio.pid; killall pigpiod'

[Install]
WantedBy=multi-user.target